@model QuanLyNhanSu.Models.tblUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="headerh2">Xóa tài khoản</h2>
<div class="d-flex justify-content-center">
    <dl class="dl-horizontal">
        <dt>
            Tên tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            Quyền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quyen)
        </dd>

        <dt>
            Mã nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNV)
        </dd>

        <dt>
            Tên nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            Trạng thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dd class="pt-3">
            @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Xác nhận xóa" class="btn btn-danger" /> &nbsp;
                            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary" })
                        </div>}
        </dd>
    </dl>

    
</div>
