@model QuanLyNhanSu.Models.tblUser

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="headerh2">Sửa thông tin tài khoản</h2>
<div class="px-md-5">
    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IDUser)
                    <div class="dl-horizontal">
                        Tên tài khoản
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        Mật khẩu
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        Quyền
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Quyen, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Quyen, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        Mã nhân viên
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.MaNV, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaNV, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        Tên nhân viên
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.TenNV, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenNV, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group pb-2">
                        Trạng thái
                        <div class="col-md-5">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.TrangThai)
                                @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group pt-2">
                        <div class="col-md-offset-2 col-md-5">
                            <input type="submit" value="Lưu lại" class="btn btn-success" /> &nbsp;
                                @Html.ActionLink("Quay lại danh sách", "Index",null,new {@class="btn btn-primary" })
                        </div>
                    </div>
                </div>
      }
</div>



