@model QuanLyNhanSu.Models.tblQuyen

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="headerh2">Chỉnh sửa</h2>
<div class="px-md-5">
    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Quyen)

                    <div class="form-group">
                        Tên quyền
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.TenQuyen, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenQuyen, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group pt-3">
                        Mô tả
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group pt-3">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Lưu lại" class="btn btn-success" /> &nbsp;
                            @Html.ActionLink("Quay lại danh sách", "Index",null,new { @class="btn btn-primary"})
                        </div>
                    </div>
                </div>
                }
</div>

